!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Blocitoff
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{class: page_controller_class}
    #flash-messages
      - if flash[:notice]
        #flash-notice.alert.alert-success.text-center.fade.in
          %button.close{type: "button", data: {dismiss: 'alert'}} &times;
          = flash[:notice]

      - if flash[:error]
        #flash-error.alert.alert-danger.text-center.fade.in
          %button.close{type: "button", data: {dismiss: 'alert'}} &times;
          = flash[:error]

      - if flash[:alert]
        #flash-alert.alert.alert-warning.text-center.fade.in
          %button.close{type: "button", data: {dismiss: 'alert'}} &times;
          =flash[:alert]
    
    = yield
